{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="sub-header">CartItem list</h1>

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Unitprice</th>
                    <th>Quantity</th>
                    <th>ItemPrice</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="cartBody">
            {% for cartItem in cartItems %}
                <tr>
                    <td><a href="{{ path('cartitem_show', { 'id': cartItem.id }) }}">{{ cartItem.id }}</a></td>
                    <td id="price">{{ cartItem.unitPrice }}</td>
                    <td><input title="quantity" id="quantity" type="text" value="{{ cartItem.quantity }}"></td>
                    <td id="allprice"></td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('cartitem_show', { 'id': cartItem.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('elec_homepage_cart_delete', { 'id': cartItem.id }) }}">delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul>
            <li>All Items Price: <span id="sum"></span>$</li>
            <li><a href="{{ path('elec_homepage') }}">Home</a></li>
        </ul>
    </div>
{% endblock %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('bundles/elec/js/cart.js') }}"></script>
        {% endblock %}
