{% extends 'base.html.twig' %}

{% block body %}
    <h1>BackEnd</h1>

    <ul>
        <li>
            <a href="{{ path('elec_user') }}">User</a>
        </li>
        <li>
            <a href="{{ path('elec_cart') }}">Cart</a>
        </li>
        <li>
            <a href="{{ path('elec_cartitem') }}">CartItem</a>
        </li>
        <li>
            <a href="{{ path('elec_orderinfo') }}">OrderInfo</a>
        </li>
        <li>
            <a href="{{ path('elec_orderitem') }}">OrderItem</a>
        </li>
        <li>
            <a href="{{ path('elec_product') }}">Product</a>
        </li>
        <li>
            <a href="{{ path('elec_category') }}">Category</a>
        </li>
        <li>
            <a href="{{ path('elec_subcategory') }}">SubCategory</a>
        </li>
    </ul>
{% endblock %}
