{% extends 'ElecBundle:BackEnd:index.html.twig' %}

{% block content %}
    <h1 class="sub-header">User List</h1>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Enabled</th>
                <th>Lastlogin</th>
                <th>Locked</th>
                <th>Expired</th>
                <th>Roles</th>
                <th>Credentialsexpired</th>
                <th>Cart</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.enabled }}</td>
                <td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ user.locked }}</td>
                <td>{{ user.expired }}</td>
                <td>
                    <ul class="list">
                        {%for role in user.roles %}
                            <li>{{role}}</li>
                        {%endfor%}
                    </ul>
                </td>
                <td>{{ user.credentialsExpired }}</td>
                <td>{{ user.cart }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
