{% extends 'ElecBundle:BackEnd:index.html.twig' %}

{% block content %}
    <h1 class="sub-header">User</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Enabled</th>
            <td>{{ user.enabled }}</td>
        </tr>
        <tr>
            <th>Lastlogin</th>
            <td>{{ user.lastLogin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Locked</th>
            <td>{{ user.locked }}</td>
        </tr>
        <tr>
            <th>Expired</th>
            <td>{{ user.expired }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>
                <ul class="list">
                    {%for role in user.roles %}
                        <li>{{role}}</li>
                    {%endfor%}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Credentialsexpired</th>
            <td>{{ user.credentialsExpired }}</td>
        </tr>
        <tr>
            <th>Cart</th>
            <td>{{ user.cart }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
