{% extends 'base.html.twig' %}

{% block body %}
    <h1>BackEnd</h1>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">User</a>
        </li>
        <li>
            <a href="{{ path('cart_index') }}">Cart</a>
        </li>
        <li>
            <a href="{{ path('cartitem_index') }}">CartItem</a>
        </li>
        <li>
            <a href="{{ path('category_index') }}">Category</a>
        </li>
        <li>
            <a href="{{ path('orderinfo_index') }}">OrderInfo</a>
        </li>
        <li>
            <a href="{{ path('orderitem_index') }}">OrderItem</a>
        </li>
        <li>
            <a href="{{ path('product_index') }}">Product</a>
        </li>
        <li>
            <a href="{{ path('subcategory_index') }}">SubCategory</a>
        </li>
    </ul>
{% endblock %}
